<a href="https://colab.research.google.com/github/MadhavSharma-1/EDA/blob/main/AgroTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing necessary libraries

In [ ]:
import pandas as pd
import seaborn as sns
import os

## Reading the data and converting into a dataframe

In [ ]:
df_plants = pd.DataFrame(pd.read_excel('Data-2.xlsx'))

In [ ]:
temp = pd.read_excel('Data-2.xlsx', sheet_name=[1])
data = pd.concat(df.values())
df_flight_dates = pd.DataFrame(data=data)
df_flight_dates

    Batch Number Flight Date
0            402  2020-04-30
1            408  2020-04-30
2            409  2020-04-30
3            466  2020-07-01
4            467  2020-07-01
5            468  2020-07-01
6            469  2020-07-06
7            471  2020-07-02
8            472  2020-07-02
9            473  2020-07-02
10           474  2020-07-03
11           475  2020-07-03
12           477  2020-07-03
13           478  2020-07-02
14           510  2020-07-08
15           511  2020-07-15
16           514  2020-07-09
17           517  2020-07-08
18           521  2020-07-08
19           534  2020-07-17
20           538  2020-07-13
21           541  2020-07-13
22           542  2020-07-13
23           582  2020-07-28
24           586  2020-07-28
25           587  2020-07-28
26           589  2020-07-31
27           590  2020-07-31
28           596  2020-07-31
29           597  2020-07-31
30           598  2020-07-31
31           607  2020-08-05
32           608  2020-08-11
33           610  2020-08-05
34           611  2020-08-05
35           612  2020-08-06
36           621  2020-08-12
37           622  2020-08-12
38           623  2020-08-12
39           625  2020-08-13
40           627  2020-08-13
41           628  2020-08-13
42           647  2020-08-26
43           649  2020-09-01
44           650  2020-08-27
45           651  2020-08-27
46           689  2020-09-09
47           690  2020-09-09
48           691  2020-09-10
49           693  2020-09-10

##Removing the null values from the measurements

In [ ]:
df_plants = df_plants.dropna(subset=['Head Weight (g)','Radial Diameter (mm)','Polar Diameter (mm)','Diameter Ratio','Density (kg/L)'], thresh=1)

##Checking for null values

In [ ]:
df_plants[['Head Weight (g)','Radial Diameter (mm)','Polar Diameter (mm)','Diameter Ratio','Density (kg/L)']].isnull().sum()

Head Weight (g)          0
Radial Diameter (mm)     0
Polar Diameter (mm)      0
Diameter Ratio           2
Density (kg/L)          82
dtype: int64

In [ ]:
df_plants

      Batch Number Plant Date  Class  ...  Check Date  Flight Date  Remove
75             402 2020-04-11      2  ...  2020-05-22          NaT     NaN
76             402 2020-04-11      4  ...  2020-05-22          NaT       r
77             402 2020-04-11      5  ...  2020-05-22          NaT     NaN
78             402 2020-04-11      5  ...  2020-05-22          NaT     NaN
79             402 2020-04-11      3  ...  2020-05-22          NaT     NaN
...            ...        ...    ...  ...         ...          ...     ...
4854           738 2020-08-27      4  ...  2020-10-20          NaT     NaN
4855           738 2020-08-27      5  ...  2020-10-20          NaT     NaN
4856           738 2020-08-27      3  ...  2020-10-20          NaT     NaN
4857           738 2020-08-27      4  ...  2020-10-20          NaT     NaN
4858           738 2020-08-27      2  ...  2020-10-20          NaT     NaN

[4754 rows x 15 columns]

In [ ]:
df_plants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4754 entries, 75 to 4858
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Batch Number          4754 non-null   int64
 1   Plant Date            4580 non-null   datetime64[ns]
 2   Class                 4754 non-null   int64
 3   Fresh Weight (g)      4754 non-null   float64
 4   Head Weight (g)       4754 non-null   float64
 5   Radial Diameter (mm)  4754 non-null   float64
 6   Polar Diameter (mm)   4754 non-null   float64
 7   Diameter Ratio        4752 non-null   float64
 8   Leaves                0 non-null      float64
 9   Density (kg/L)        4672 non-null   float64
 10  Leaf Area (cm^2)      4753 non-null   float64
 11  Square ID             4754 non-null   int64
 12  Check Date            4754 non-null   datetime64[ns]
 13  Flight Date           472 non-null    datetime64[ns]
 14  Remove                70 non-null     object
dtypes: datetime64[ns](3), float64(8), int64(3), object(1)
memory usage: 594.2+ KB

In [ ]:
df_plants.isnull().sum()

Batch Number               0
Plant Date               174
Class                      0
Fresh Weight (g)           0
Head Weight (g)            0
Radial Diameter (mm)       0
Polar Diameter (mm)        0
Diameter Ratio             2
Leaves                  4754
Density (kg/L)            82
Leaf Area (cm^2)           1
Square ID                  0
Check Date                 0
Flight Date             4282
Remove                  4684
dtype: int64

##Discarding garbage values from column "Remove"

In [ ]:
df_plants.drop(df_plants.index[df_plants['Remove'] == 'r'], inplace = True)

In [ ]:
df_plants

      Batch Number Plant Date  Class  ...  Check Date  Flight Date  Remove
75             402 2020-04-11      2  ...  2020-05-22          NaT     NaN
77             402 2020-04-11      5  ...  2020-05-22          NaT     NaN
78             402 2020-04-11      5  ...  2020-05-22          NaT     NaN
79             402 2020-04-11      3  ...  2020-05-22          NaT     NaN
80             402 2020-04-11      1  ...  2020-05-22          NaT     NaN
...            ...        ...    ...  ...         ...          ...     ...
4854           738 2020-08-27      4  ...  2020-10-20          NaT     NaN
4855           738 2020-08-27      5  ...  2020-10-20          NaT     NaN
4856           738 2020-08-27      3  ...  2020-10-20          NaT     NaN
4857           738 2020-08-27      4  ...  2020-10-20          NaT     NaN
4858           738 2020-08-27      2  ...  2020-10-20          NaT     NaN

[4684 rows x 15 columns]

In [ ]:
from numpy import NAN
def compute_flight_dates():
  if df_plants['Batch Number'] == df_flight_dates['Batch Number'] & df_plants['Flight Date'].isnull() == True:
    df_plants['Flight Date'] = df_flight_dates['Flight Date']
  else:
    pass